body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Fivo Sans Normal", Arial, sans-serif;
}

body {
    background: #000000;
    background: linear-gradient(180deg, #000000 0%, #6000a6 100%);
}

h1 {
    color: white;
    font-family: "Fivo Sans Bold", Arial, sans-serif;
    font-size: 48px;
}

p {
    color: white;
    font-size: 18px;
}

.horizontal-container {
    display: flex;
}

.horizontal-box {
    flex: 1;
    padding: 20px;
    margin: 10px;
    text-align: center;
}