@font-face {
    font-family: "Aquire";
    font-style: light, normal, bold;
    src:
        local("Aquire"),
        url("https://raw.githubusercontent.com/njayv/njayv.github.io/main/assets/fonts/Aquire-Normal.woff2") format("woff2"),
        url("https://raw.githubusercontent.com/njayv/njayv.github.io/main/assets/fonts/Aquire-Normal.woff") format("woff"),
        url("https://raw.githubusercontent.com/njayv/njayv.github.io/main/assets/fonts/Aquire-Normal.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Aquire", sans-serif;
}

body {
    background-image: url("/assets/images/MiiMakerBG.png");
    background-position: center;
}

h1 {
    font-size: 64px;
    color: #9ea3a0;
}

h2 {
    font-size: 32px;
    color: #9ea3a0;
}

p {
    font-size: 16px;
    color: #9ea3a0;
}

.blurbar {
    display: flex;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    padding: 40px;
    border-radius: 80px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0px;
}