@font-face {
    font-family: "Aquire";
    font-style: light, normal, bold;
    src:
        local("Aquire"),
        url("assets/fonts/Aquire-Bold.ttf") format("truetype"),
        url("assets/fonts/Aquire-Normal.ttf") format("truetype"),
        url("assets/fonts/Aquire-Light.ttf") format("truetype");
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Aquire", sans-serif;
}

body {
    background: radial-gradient(circle, #000000 10%, #222222, #000000 90%);
}

h1 {
    font-size: 48px;
    color: #ffffff;
    font-style: light;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content {
    padding: 20px;
}